<section
  class="position-fixed top-0 start-0 vw-100 vh-100 bg"
  id="bg"
></section>
<header
  id="header"
  class="row m-0 p-0 d-flex centerCenter position-static px-md-5"
  style="background-color: #000d19; height: 60px"
>
  <div class="col-9 h-100 d-flex align-items-center justify-content-start">
    <a routerLink="/home" class="logo"
      >o<span class="text-decoration-line-through text-skyblue">N</span>da</a
    >
    <div class="logoIMG"></div>
  </div>
  <ul class="nav h-100 col-3 d-flex justify-content-end align-items-center">
    <li class="m-0">
      <a style="white-space: nowrap" routerLink="/AboutUs">About us</a>
    </li>
  </ul>
</header>

<section class="row m-0 col-12 content vh-100 position-relative">
  <div class="title position-absolute top-0 start-0 px-4">
    <div class="logo2" id="logo2"></div>
    <h3 class="text-nowrap">About Project</h3>
  </div>
  <div class="col-md-9 offset-md-3 col-lg-6 offset-lg-6 offset-0 col-12 h-100">
    <div class="text px-1">
      <div>
        The project idea revolves around creating a luxury cinema on board a
        yacht moving along the shores of Porto Marina. Passengers can enjoy
        high-quality cinema screenings and luxury in an atmosphere of nature and
        adventure.
        <br /><br />

        <span> Objective </span>

        <br /><br />

        <span class="span2"> Unique Experience: </span>
        Providing a luxurious and unique cinema experience, blending the concept
        of a sea voyage with cinematic entertainment.
        <br /><br />
        <span class="span2"> Luxury and Privacy: </span>
        Offering a unique experience for customers who wish to enjoy cinema in a
        private and luxurious setting.

        <br /><br />
        <span class="span2"> Explore Natural Landscapes: </span>
        Allowing the audience to view unique and beautiful natural scenery while
        watching movies.

        <br /><br />

        <span> Features: </span>
        <br /><br />
        <span class="span2"> Comfortable and Luxurious Venue: </span>
        The yacht is equipped with a luxurious cinema hall with comfortable
        seats and high-quality sound and picture systems.
        <br /><br />
        <span class="span2"> Food and Beverages: </span>
        Providing complementary entertainment services, such as offering light
        meals and luxury drinks to passengers while watching.
        <br /><br />
        <span class="span2"> Nile Cruise: </span>
        An opportunity to enjoy a wonderful Nile cruise while watching movies,
        creating an exceptional experience.
        <br /><br />
        <span> Sustainability: </span>
        <br /><br />
        <span class="span2"> Eco-Friendly Technology </span>
        Using clean energy technology and eco-systems to keep the beaches clean.
        <br /><br />
        <span class="span2"> Promoting Tourism: Eco-Friendly Technology </span>
        Contributing to enhancing environmental and cultural tourism in the
        region.
        <span> Financial Sustainability: </span>
        <br /><br />
        <span class="span2"> Carefully Set Pricing: </span>
        Setting reasonable and inspiring prices to be affordable for everyone.
        <br />
        <br />
        <br />
        A cinema project on a yacht along the shores of Porto Marina can
        stimulate tourism and offer a luxurious and unique entertainment
        experience while ensuring environmental and economic sustainability.
      </div>
    </div>
  </div>
</section>
<div class="team col-12 row m-0 h-auto centerCenter mt-5">
  <h2 class="m-0 p-3 fa text-center">The members</h2>
  <div
    class="position-relative col-12 col-sm-6 col-md-4 col-lg-3 vh-75 per overflow-hidden"
    [ngClass]="{ positionTop: item.name == 'Naglaa Sameh' }"
    style="background-image: url('{{ item.image }}');"
    *ngFor="let item of team"
  >
    <div [ngClass]="item.gender" class="w-100 h-100 position-relative">
      <div class="blog-card__square"></div>
      <div class="blog-card__circle"></div>
    </div>
    <p
      class="position-absolute bottom-0 start-0 ps-4 pb-2 fs-2 text-capitalize"
    >
      {{ item.name }}
    </p>
  </div>
</div>
<div class="sci">
  <ul class="">
    <li>
      <a target="_blank" href="https://github.com/BeshoyWill"
        ><i class="bi bi-browser-chrome"></i
      ></a>
    </li>
    <li>
      <a
        target="_blank"
        href="https://www.facebook.com/profile.php?id=100007533883783"
        ><i class="bi bi-facebook"></i
      ></a>
    </li>
    <li>
      <a target="_blank" href="https://wa.me/1280201069"
        ><i class="bi bi-whatsapp"></i
      ></a>
    </li>
    <li>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/beshoy-william-94775730a/"
        ><i class="bi bi-linkedin"></i
      ></a>
    </li>
  </ul>
  <p>CODED BY <span>Beshoy Youssef</span></p>
</div>
